.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  padding: 100px 0 0 0px;
  box-sizing: border-box;
  background-color: #fff;
  background: url(../images/background_recipes.svg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__wrapper {
  margin: 0;
  padding-right: 40px;
}

.recipes__wrapper:last-child {
  padding-right: 0px;
}

.recipes__title {
  max-width: 580px;
  padding-left: 80px;
  font-family: 'Inter', "Arial", sans-serif;

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
  margin: 0;

}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 483px;
  padding-left: 80px;
  font-family: 'Noto Serif', "Times New Roman", serif;

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
  margin: 0;
}

.recipes__video {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 215px;



}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;

}

.recipes__text {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: 'Inter', "Arial", sans-serif;

  font-style: normal;

  font-weight: 500;

  font-size: 20px;

  line-height: 30px;
}