
.card {
    min-width: 600px;
  }
  .card__item {
    padding: 0;
    margin: 0;
  }
  .card__wrapper {
    display: flex;
    max-width: 600px;
    align-items: baseline;
    margin-top: 16px;
    font-family: 'Noto Serif', "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  
  }
  
  .card__divider {
    flex-grow: 1;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0 5px;
  
  }
  
  .card__name {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 16px;
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 0;
  }