.reservation {
    padding: 100px 0 0 80px;
    box-sizing: border-box;
    background-color: #D9E7FF;
    background-image: url(/images/background_reservation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reservation__title {
    margin: 100px auto 48px auto;
    text-align: center;
    font-family: 'Inter', "Arial" , "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;

  }
.form__fieldset {
  display: flex;
  max-width: 385px;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 120px;
  
}
.reservation__input {
  height: 60px;
}
.form__label {
  margin-bottom: 8px;
  margin-top: 32px;
  font-family: 'Inter', "Arial" , "sans-serif";

font-style: normal;

font-weight: 500;

font-size: 16px;

line-height: 20px;
}
.reservation__button {
  height: 60px;
  background-color: blue;
  color: #D9E7FF;
  margin: 32px 0;
  border-radius: 4px;
  font-family: 'Inter', "Arial" , "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
transition: 1s;
}
.reservation__button:hover {
  opacity: 0.7;
}
.form__checkbox__wrapper {
  display: flex;
  justify-content: center;
}
.form__label__checkbox {
  font-family: 'Inter', "Arial" , "sans-serif";

  font-style: normal;
  
  font-weight: 500;
  
  font-size: 16px;
  
  line-height: 20px;
}
input::placeholder {
 padding-left: 20px;
 font-family: 'Inter', "Arial" , "sans-serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #838383;
}
.form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 2px;

  }
  input[type=checkbox][name=checkbox] {
    background-color: red;
    background: url(./images/check.svg) no-repeat;
 
   }
