.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

.footer {

  box-sizing: border-box;
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  color: white;
  padding: 60px 100px 60px 80px;
  position: relative;
}

.social-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding-top: 20px 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
  color: #fff;
  display: flex;
  justify-content: flex-end;

}

.footer__list-item:last-child {
  margin: 0;
}

.footer__column-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  transition: 1s;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  transition: 1s;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  padding-top: 108px;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}